*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
body{
    background: rgb(239, 239, 239);
}
   nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgb(59,89,152);
    padding: 1px;
    position: sticky;
    top: 0;
    z-index: 100;
   }
   .logo{
    width: 130px;
    margin-right: 5px;
    margin-left: 40px;
   }
  
   .noti, .in, .vid{
    width: 25px;
    margin-right: 10px;
    margin-bottom: 2px;
    margin-left: 10x;
    cursor: pointer;
   }
   .vid:hover{
    width:30px;

   }
  .noti:hover{
    width:30px;
  }

   .in:hover{
    width: 30px;
   } 
  
   .nav-left, .nav-right{
    display: flex;
    align-items: center;
   
   }
   .nav-user-icon img{
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
   }
   .nav-user-icon{
margin-left: 30px;
margin-right: 15px;
   }
   .search-box{
    background: rgb(239, 239, 239);
    width: 350px;
    border-radius: 20px;
    display: flex;
    align-items:center;
    padding: 0 15px;
    margin-left: 5px;
   }
   .search-box img{
    width: 18px;
   }
   .search-box input{
    width: 80px;
    background: transparent;
    padding: 9px;
    outline: none;
    border: 0;
    
   }
   .online{
    position: relative;
   }
   .online::after{
    content: '';
    width: 7px;
    height: 7px;
    border: 2px solid white;
    border-radius: 50%;
    background: rgb(65,219,81);
    position: absolute;
    top: 0;
    right: 0;
   }
.container{
    display: flex;
    justify-content: space-between;
    padding: 13px 5%;
    margin-left: -20px;
}
.left-sidebar{
    flex-basis: 25%;
    position: sticky;
    top: 70px;
    align-self: flex-start;
    margin-right: -30px;
}
.right-sidebar{
    flex-basis: 25%;
    position: sticky;
    top: 70px;
    align-self: flex-start;
    background: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 4px;
    color: #626262;
    
}
.main-content{
    flex-basis: 47%;

}
.imp-links a{
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    color: rgb(98,98,98);
    width: fit-content;
   
}
.imp-links a img{
    width: 25px;
    margin-right: 15px;
}

.imp-links a:last-child{

        color:rgb(24,118,242);

    }
    .imp-links{
        border-bottom: 1px solid rgb(37, 35, 37);

    } 
    .shortcut-link a{
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 20px;
    color: rgb(98,98,98);
    width: fit-content;
    }

    .shortcut-link p{
        margin-top: 10px;
    }
    .shortcut-link a img{
        width: 40px;
        border-radius: 4px;
        margin-right: 15px;

    }
   
    
    .sidebar-title{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 18px;
    }
    .right-sidebar h4{
        font-weight: 600;
        font-size: 16px;
    }
    .sidebar-title a{
        text-decoration: none;
        color: rgb(24,118,242);
        font-size: 12px;
    }
    .events{
        display: flex;
        font-size: 14px;
        margin-bottom: 20px;
    }
    .left-event{
        border-radius: 10px;
        height: 65px;
        width: 65px;
        margin-right: 15px;
        padding-top: 10px;
        text-align: center;
        position: relative;
        overflow: hidden;
        box-shadow: 0 0 10px rgba(0,0,0,0.1);
    }
    .events p{
        font-size: 12px;
    
    }
    .events a{
        font-size: 12px;
        text-decoration: none;
        color: rgb(24,118,242) ;
    }
    .left-event span{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        background: rgb(24,118,242);
        color: rgb(255, 255, 255);
        font-size: 10px;
        padding: 4px 0;
    }
    .sidebar-ads{
        width: 100%;
        margin-bottom: 20px;
        border-radius: 4px;
    }
    .online-list{
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        cursor: pointer;
    }
    .online-list:hover{
        background-color: rgb(162, 162, 162);
    }
    .online-list .online img{
        width: 40px;
        border-radius: 50%;
        
    }
    .online-list .online{
        width: 40px;
        border-radius: 50%;
        margin-right: 15px;
    }
    .online-list .online::after{
        top:unset;
        bottom: 5px;
    }
    .story-gallery{
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
        cursor: pointer;
    }
   
    .story{
        flex-basis: 18%;
        padding-top: 32%;
        position: relative;
        background-image: linear-gradient(transparent,rgba(0, 0, 0, 0.5)),url(status-1.png);
        background-position: center;
        background-size: cover;
        border-radius: 10px;
    }
    .story img{
        position: absolute;
        width: 45px;
        border-radius: 50%;
        top: 10px;
        left: 10px;
        border: 5px solid rgb(24,118,242);
    }
    .story img:hover{
        width: 50px;
    }
    .story p{
        position: absolute;
        bottom: 10px;
        width: 100%;
        text-align: center;
        color: rgb(255, 255, 255);
    }
    .story1{
        background-image: linear-gradient(transparent,rgba(0, 0, 0, 0.5)),url(status-1.png);
    }
    .story2{
        background-image: linear-gradient(transparent,rgba(0, 0, 0, 0.5)),url(status-2.png);
    }
    .story3{
        background-image: linear-gradient(transparent,rgba(0, 0, 0, 0.5)),url(status-3.png);
    }
    .story4{
        background-image: linear-gradient(transparent,rgba(0, 0, 0, 0.5)),url(status-5.png);
    }
    .story5{
        background-image: linear-gradient(transparent,rgba(0, 0, 0, 0.5)),url(status-4.png);
    }
    
.story.story1 img{
    top: unset;
    left: 50%;
    bottom: 40px;
    transform: translateX(-50%);
    border: 0;
    width: 35px;
}
.write-post-container{
    width: 100%;
    background: rgb(255, 255, 255);
    border-radius: 20px;
    padding: 20px;
   color: #626262;
}
.user-profile{
    display: flex;
    align-items: center;
}
.user-profile img{

    width: 45px;
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer;
}
.user-profile p{
    cursor: pointer;
    margin-bottom: -5px;
    font-weight: 500;
    color: #626262;
} 
.user-profile small{
    font-size: 12px;
}
.post-input-container{
    padding-left: 55px;
    padding-top: 20px;
}
.post-input-container textarea{
    width: 100%;
    border: 0;
    outline: 0;
    border-bottom: 1px solid  rgb(204, 204, 204);
    background: transparent;
    resize: none;
   
  
}
.add-post-link{
    display: flex;
    margin-top: 10px;
}
.add-post-link a{
    text-decoration: none;
    display: flex;
    align-items:center;
    color: #626262;
    margin-right:30px;
    font-size: 13px;
}
.add-post-link a img{
    margin-right: 10px;
    width:20px;

}
.post-container{
    width: 100%;
    background: rgb(255, 255, 255);
    border-radius: 6px;
    padding: 20px;
    color: #626262;
    margin: 20px 0;
}

.user-profile p{
    margin-bottom: 5px;
}
.user-profile span{
    font-size: 13px;
    color: rgb(154,154,154);
    
}
.post-text{
  color: rgb(31, 30, 30);  
  margin: 15px 0;
  font-size: 15px;
}
.post-text a{
    color: rgb(24,118,242);
    text-decoration: none;
}
.post-img{
    width: 100%;
    border-radius: 4px;
    margin-bottom: 5px;
}
.post-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.activity-icons div img{
width: 18px;
margin-right: 10px;
cursor: pointer;

}
.activity-icons div{
    display: inline-flex;
    align-items: center;
    margin-right: 30px;
}

    .post-profile-icons{
        display: flex;
        align-items: center;
    }
    .pro{

        width: 20px;
        border-radius: 50%;
       margin-left: 320px;
    }
.post-row a{
    color: rgb(154,154,154);

}
.load-more{
    display: block;
    margin: auto;
    cursor: pointer;
    padding: 5px 10px;
    border: 1px solid rgb(154,154,154);
    border-radius: 4px;
}
.footer{
    text-align: center;
    color: rgb(154,154,154);
    padding: 10px 0 20px;
    font-size: 13px;
}
.settings-menu{
    position: absolute;
    width: 90%;
    max-width: 350px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    border-radius: 4px;
    overflow: hidden;
    top:108%;
    right: 5%;
    
    
}

.user-profile a{
font-size: 12px;
color: rgb(24,118,242);
text-decoration: none;
}

.settings-menu-inner{
    padding: 20px;
}
.settings-menu hr{
    border: 0;
    height: 1px;
    background: rgb(154,154,154);
    margin: 15px 0;
}
.setting-links{
    display: flex;
    align-items: center;
    margin: 15px 0;
}
.setting-links .settings-icon{
    width: 38px;
    margin-right: 10px;
    border-radius: 50%;
}
.setting-links a{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    color: #626262;
}


.user-profile :hover{
   color: rgb(27, 114, 158);
}

.setting-links :hover{
    color: rgb(24,118,242);
}
.imp-links :hover{
    background-color:rgb(162, 162, 162) ;
}
.shortcut-link a:hover{
    color: rgb(27, 114, 158);
}
